sounds/CloseWaterfall.ogg filter=lfs diff=lfs merge=lfs -text
sounds/CocktailVoices.ogg filter=lfs diff=lfs merge=lfs -text
sounds/Creek.ogg filter=lfs diff=lfs merge=lfs -text
sounds/HeatWave.ogg filter=lfs diff=lfs merge=lfs -text
sounds/PinkNoise.ogg filter=lfs diff=lfs merge=lfs -text
sounds/Bonfire.ogg filter=lfs diff=lfs merge=lfs -text
sounds/CoffeeHouse.ogg filter=lfs diff=lfs merge=lfs -text
sounds/DistantThunder.ogg filter=lfs diff=lfs merge=lfs -text
sounds/WhiteNoise.ogg filter=lfs diff=lfs merge=lfs -text
sounds/WindChimes.ogg filter=lfs diff=lfs merge=lfs -text
sounds/FanNoise.ogg filter=lfs diff=lfs merge=lfs -text
sounds/MeditationTime.ogg filter=lfs diff=lfs merge=lfs -text
sounds/WildShore.ogg filter=lfs diff=lfs merge=lfs -text
sounds/CalmShore.ogg filter=lfs diff=lfs merge=lfs -text
sounds/DistantWaterfall.ogg filter=lfs diff=lfs merge=lfs -text
sounds/LargeWaves.ogg filter=lfs diff=lfs merge=lfs -text
sounds/PouringRain.ogg filter=lfs diff=lfs merge=lfs -text
sounds/Shore.ogg filter=lfs diff=lfs merge=lfs -text
sounds/AutumnBreeze.ogg filter=lfs diff=lfs merge=lfs -text
sounds/ForestWind.ogg filter=lfs diff=lfs merge=lfs -text
sounds/OceanWaves.ogg filter=lfs diff=lfs merge=lfs -text
sounds/Stream.ogg filter=lfs diff=lfs merge=lfs -text
sounds/SummerNight.ogg filter=lfs diff=lfs merge=lfs -text
sounds/BrownNoise.ogg filter=lfs diff=lfs merge=lfs -text
sounds/CloserThunder.ogg filter=lfs diff=lfs merge=lfs -text
sounds/CoastalWind.ogg filter=lfs diff=lfs merge=lfs -text
sounds/Frogs.ogg filter=lfs diff=lfs merge=lfs -text
sounds/Birds.ogg filter=lfs diff=lfs merge=lfs -text
sounds/Brook.ogg filter=lfs diff=lfs merge=lfs -text
sounds/RainDrops.ogg filter=lfs diff=lfs merge=lfs -text
